AUTH_SECRET_KEY=your_secret_key_here

DATABASE_URL=mysql://user:password@localhost:3306/your_database_name

SHADOW_DATABASE_URL=mysql://user:password@localhost:3306/your_database_name_shadow

SENTRY_DSN=your_sentry_dsn_here
